@use 'breakpoints' as bp;

.header {
  background: var(--brand-yellow);
}

@include bp.tabletLandscape {
  header>div {
    padding-inline: 2rem;
  }

  nav,
  .header__nav,
  .header__menu {
    gap: 1rem;
  }

  nav a,
  .header__nav a,
  .header__menu a {
    font-size: 1.5rem;
    line-height: 2rem;
    white-space: nowrap;
  }
}

@include bp.mobile {
  header {
    height: 4.125rem;
  }

  header>div {
    max-width: 100%;

    padding: 0 1rem;
  }

  header img {
    width: 4.5rem;

    height: auto;
  }

  .header__logo img {
    width: 5.75rem;
    height: auto;
  }

  .header__actions {
    gap: 0.5rem;
  }

  .header__actions app-button {
    transform: scale(0.88);
    transform-origin: center;
  }
}