@use 'breakpoints' as bp;

.promo-banner {
  width: 100%;

  padding: 0;
}

.promo-banner__container {
  max-width: var(--container-width);

  margin: 0 auto;

  padding: 0 1.5rem;
}

.promo-banner__image {
  display: block;

  width: 100%;
  height: auto;
}

.promo-banner__image--mobile {
  display: none;
}

@include bp.mobile {

  .promo-banner__container {

    max-width: 100%;

    padding: 0;

  }

  .promo-banner__image--desktop {

    display: none;

  }

  .promo-banner__image--mobile {

    display: block;

    width: 100%;

    height: auto;

  }

}