:root {
  /* =======================================================
     TIPOGRAFÍAS
     ======================================================= */

  --font-primary: 'Duplet', sans-serif;

  /* =======================================================
     PESOS
     ======================================================= */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* =======================================================
     LAYOUT
     ======================================================= */

  --container-width: 94.5rem; /* 1512px */

  /* =======================================================
     COLORES DE MARCA
     ======================================================= */

  --brand-green: #006820;

  --brand-green-dark: #115533;
  --brand-green-light: #01954b;

  --brand-yellow: #ffde00;

  --brand-white: #ffffff;

  /* =======================================================
     TEXTO
     ======================================================= */

  --text-primary: #ffffff;
}
