<div class="lottery-video-section">
  <h2 class="lottery-video-section__title">Más juegos para ti</h2>

  <div class="lottery-video-section__card">
    <div class="lottery-video-section__container">
      <img
        src="assets/images/logo-videoloterias.svg"
        alt="Video Loterías"
        class="lottery-video-section__logo"
      />

      <div class="lottery-video-section__body">
        <div class="lottery-video-section__header">
          <p class="lottery-video-section__subtitle">
            Juega y gana al instante hasta
            <span>S/100,000</span>
          </p>

          <app-button label="Ver más" variant="outline"> </app-button>
        </div>

        <div class="lottery-video-section__content">
          <!--
            TODO:
            Reemplazar este bloque por el iframe cuando
            el proveedor entregue la URL definitiva.
          -->

          <img
            src="assets/images/video-loterias.png"
            alt="Video Loterías"
            class="lottery-video-section__mock"
          />
        </div>
      </div>
    </div>
  </div>
</div>
