<section class="contributing">
  <div class="contributing__container">
    <h2 class="contributing__title">
      Cada jugada
      <span class="contributing__title--highlight"> contribuye </span>
    </h2>

    <div class="contributing__cards">
      <app-contributing-card
        variant="first"
        title="Siempre cerca de ti"
        description="Nuestra plataforma y puntos de venta están contigo las 24 horas para jugar cuando lo necesites, de forma fácil y segura."
        linkLabel="Conocer más"
      >
      </app-contributing-card>

      <app-contributing-card
        title="Siempre cerca de ti"
        description="Nuestra plataforma y puntos de venta están contigo las 24 horas para jugar cuando lo necesites, de forma fácil y segura."
        linkLabel="Conocer más"
      >
      </app-contributing-card>

      <app-contributing-card
        title="Siempre cerca de ti"
        description="Nuestra plataforma y puntos de venta están contigo las 24 horas para jugar cuando lo necesites, de forma fácil y segura."
        linkLabel="Conocer más"
      >
      </app-contributing-card>

      <app-contributing-card
        variant="last"
        title="Siempre cerca de ti"
        description="Nuestra plataforma y puntos de venta están contigo las 24 horas para jugar cuando lo necesites, de forma fácil y segura."
        linkLabel="Conocer más"
      >
      </app-contributing-card>
    </div>
  </div>
</section>
