@use 'breakpoints' as bp;

.winner-card {
  width: 100%;
  max-width: 22.25rem;
  height: 10.75rem;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  box-sizing: border-box;

  border: 0.0625rem solid var(--winners-kabala-border);
  border-radius: 1rem;

  background: var(--winners-kabala-background);

  overflow: hidden;
}

.winner-card__title {
  margin: 0;

  font-family: 'Duplet';
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.015625rem;
  color: #646464;

}

.winner-card__content {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 0.75rem;

  min-width: 0;
}

.winner-card__profile {
  width: 3.75rem;

  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;
}

.winner-card__image {
  width: 3.75rem;
  height: 3.75rem;

  flex-shrink: 0;

  border-radius: 6.25rem;

  overflow: hidden;
}

.winner-card__image img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: inherit;
}

.winner-card__badge {
  width: 3.25rem;
  height: 1.125rem;

  padding: 0.12625rem 0.37875rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  border-radius: 0.75rem;

  background: #ff7f33;
  color: #ffffff;

  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.015625rem;

  white-space: nowrap;
}

.winner-card__info {
  min-width: 0;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.winner-card__winner {
  margin: 0;

  display: flex;
  align-items: center;
  gap: 0.25rem;

  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 0.015625rem;

  color: #004e18;

  white-space: nowrap;
}

.winner-card__description {
  margin: 0;

  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.015625rem;

  color: #2f2f3a;
}

@include bp.mobile {
  .winner-card {
    width: 18.75rem;
    max-width: 18.75rem;
    height: 10.75rem;

    flex: 0 0 18.75rem;

    padding: 1rem;
  }

  .winner-card__title {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .winner-card__content {
    gap: 0.625rem;
  }

  .winner-card__winner {
    flex-wrap: wrap;
    gap: 0 0.25rem;

    font-size: 1rem;
    line-height: 1.375rem;

    white-space: normal;
  }

  .winner-card__description {
    font-size: 0.6875rem;
    line-height: 0.9375rem;
  }
}