<div class="winner-card">
  <p class="winner-card__title">El día que cambió su destino</p>

  <div class="winner-card__content">
    <div class="winner-card__profile">
      <div class="winner-card__image">
        <img src="assets/images/imagen_conoce.png" alt="Ganador" />
      </div>

      <div class="winner-card__badge">Nuevo</div>
    </div>

    <div class="winner-card__info">
      <p class="winner-card__winner">
        <span>{{ winnerName() }}</span>
        <span>Ganó {{ prize() }}</span>
      </p>

      <p class="winner-card__description">
        “Ganó S/5,000 mensuales por 20 años”. Una tradición familiar que cambió su vida.
      </p>
    </div>
  </div>
</div>
