<section class="lottery-section">
  <div class="lottery-section__container">
    <h2 class="lottery-section__title">
      Elige tu juego y prueba tu
      <span class="lottery-section__title--highlight">suerte</span>
    </h2>

    <div class="lottery-section__hero">
      <app-lottery-card variant="hero"> TINKA </app-lottery-card>
    </div>

    <div class="lottery-section__cards">
      <app-lottery-card>KABALA</app-lottery-card>

      <app-lottery-card>GANA DIARIO</app-lottery-card>

      <app-lottery-card>KINELO</app-lottery-card>

      <app-lottery-card>RAPI TINKA</app-lottery-card>
    </div>
  </div>
</section>
