@font-face {
  font-family: 'Duplet';
  src: url('./Duplet-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Duplet';
  src: url('./Duplet-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Duplet';
  src: url('./Duplet-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Duplet';
  src: url('./Duplet-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Duplet';
  src: url('./Duplet-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Duplet';
  src: url('./Duplet-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
