.hamburger-button {

  width: var(--button-height);
  height: var(--button-height);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 0.25rem;

  padding: 0;

  background: transparent;

  border: none;

  cursor: pointer;
}

.hamburger-button span {

  width: 1.5rem;
  height: 0.125rem;

  border-radius: 999px;

  background: var(--brand-green);
}