<footer class="footer">
  <div class="footer__container">
    <!-- ==================== FILA SUPERIOR ==================== -->

    <div class="footer__top">
      <!-- IZQUIERDA -->

      <div class="footer__left">
        <div class="footer__brand">
          <div class="box box--logo">
            <img src="assets/images/tinka-logo-white.svg" alt="Logo la Tinka" />
          </div>
        </div>

        <div class="footer__menus">
          <div class="footer__column">
            <h3>INFORMACION</h3>
            <div class="box box--menu">ITEMS</div>
          </div>

          <div class="footer__column">
            <h3>JUEGOS</h3>
            <div class="box box--menu">ITEMS</div>
          </div>

          <div class="footer__column">
            <h3>LA TINKA</h3>
            <div class="box box--menu">ITEMS</div>
          </div>

          <div class="footer__column">
            <h3>INFORMACION LEGAL</h3>
            <div class="box box--menu">ITEMS</div>
          </div>
        </div>
      </div>

      <!-- DERECHA -->

      <!--  <div class="footer__right">
        <div class="footer__social">
          <h3>REDES SOCIALES</h3>

          <div class="footer__social-icons">
            <div class="box box--icon">ICONO</div>
            <div class="box box--icon">ICONO</div>
            <div class="box box--icon">ICONO</div>
            <div class="box box--icon">ICONO</div>
          </div>
        </div>

        <div class="footer__responsible">
          <div class="box">JUEGO RESPONSABLE</div>
        </div>
      </div> -->
    </div>

    <!-- ==================== MEDIOS DE PAGO ==================== -->

    <div class="footer__payments">
      <div class="box"><img src="assets/images/visa.svg" alt="" /></div>
      <div class="box"><img src="assets/images/mastercard.svg" alt="" /></div>
      <div class="box"><img src="assets/images/yape.svg" alt="" /></div>
      <div class="box"><img src="assets/images/plin.svg" alt="" /></div>
      <div class="box"><img src="assets/images/bcp.svg" alt="" /></div>
      <div class="box"><img src="assets/images/interbank.svg" alt="" /></div>
      <div class="box"><img src="assets/images/pagoefectivo.svg" alt="" /></div>
      <div class="box"><img src="assets/images/bbva.svg" alt="" /></div>
      <div class="box"><img src="assets/images/tupay.svg" alt="" /></div>
      <div class="box"><img src="assets/images/sip.svg" alt="" /></div>
    </div>

    <!-- ==================== COPYRIGHT ==================== -->

    <div class="footer__copyright">
      <p class="footer__copyright-company">La Tinka S.A. RUC 20506035121.</p>
      <p class="footer__copyright-disclaimer">
        Juegos solo para mayores de 18 anos. Informate del reglamento de los juegos aqui. Los juegos
        y apuestas deportivas a distancia realizados en exceso pueden causar ludopatia.
      </p>
    </div>
  </div>
</footer>
