.footer {
  width: 100%;

  background: var(--brand-green);
  color: var(--text-primary);
}

.footer__container {
  max-width: var(--container-width);

  margin: 0 auto;
  padding: 3rem 7.5rem;
}

/* =======================================================
   TOP
   ======================================================= */

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}

.footer__left {
  flex: 1;

  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

.footer__brand {
  flex: 0 0 auto;
}

.footer__menus {
  flex: 1;

  display: flex;
  gap: 3rem;
}

.footer__column {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__right {
  flex: 0 0 13.75rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-self: stretch;
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__social-icons {
  display: flex;
  gap: 0.75rem;
}

.footer__responsible {
  margin-top: auto;
}

/* =======================================================
   MEDIOS DE PAGO
   ======================================================= */

.footer__payments {
  margin-top: 1.563rem;
  background: var(--brand-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  height: 4.25rem;

  flex-wrap: wrap;
  border-radius: 0.625rem;
}

/* =======================================================
   COPYRIGHT
   ======================================================= */

.footer__copyright {
  margin-top: 2.5rem;

  text-align: center;

  .footer__copyright-company {
    font-family: var(--font-primary);
    font-size: 0.75rem;
    font-weight: var(--font-weight-light);
    letter-spacing: 0.125rem;
    line-height: 2rem;
  }

  .footer__copyright-disclaimer {
    font-family: var(--font-primary);
    font-size: 0.75rem;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0.025rem;
    line-height: 1.25rem;
  }
}

/* =======================================================
   PLACEHOLDERS
   ======================================================= */

.box {
  min-height: 3.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px dashed rgba(255, 255, 255, 0.5);

  text-align: center;
}

.box--logo {
  width: 10.875rem;
  height: 3.125rem;
}

.box--menu {
  width: 8.75rem;
  height: 11.25rem;
}

.box--icon {
  width: 3rem;
  height: 3rem;
}
