@font-face {
  font-family: 'Yolo Text';
  src:
    url('./Yolo-Bold.woff2') format('woff2'),
    url('./Yolo-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yolo Text';
  src:
    url('./Yolo-Semibold.woff2') format('woff2'),
    url('./Yolo-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
