@font-face {
  font-family: 'Yolo';
  src: url('./Yolo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yolo';
  src: url('./Yolo-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yolo';
  src: url('./Yolo-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yolo';
  src: url('./Yolo-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}