<nav class="navigation">
  <div class="navigation__container">
    <ul class="navigation__menu">
      <li class="navigation__item">
        <a class="navigation__link active" href="#loterias">Loterías</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#videoloterias">Videoloterias</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#promociones">Promociones</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#ganadores">Ganadores</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#">Casino</a>
      </li>
    </ul>
  </div>
</nav>
