<nav class="navigation">
  <div class="navigation__container">
    <ul class="navigation__menu">
      <li class="navigation__item">
        <a class="navigation__link active" href="#">Loterías</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#">Videoloterias</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#">Promociones</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#">Ganadores</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#">Casino</a>
      </li>
    </ul>
  </div>
</nav>
