<h1>SHELL ROOT</h1>

<nav>
  <a routerLink="">Landing</a> |
  <a routerLink="/auth">Auth</a> |
  <a routerLink="/user">User</a> |
  <a routerLink="/wallet">Wallet</a> |
  <a routerLink="/recharges">Recharges</a> |
  <a routerLink="/notifications">Notifications</a> |
  <a routerLink="/support">Support</a> |
  <a routerLink="/tinka">Tinka</a> |
  <a routerLink="/kabala">Kabala</a> |
  <a routerLink="/ganadiario">Ganadiario</a> |
  <a routerLink="/ganagol">Ganagol</a> |
  <a routerLink="/kinelo">Kinelo</a> |
  <a routerLink="/videoloterias">Videoloterias</a>
</nav>

<hr>

<router-outlet></router-outlet>
